*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 16px;
}

.header {
  max-width: 100%;
  background-color: rgb(132, 223, 211);
  padding: 1rem;
}

.header a {
  margin-left: 1rem;
}

.header ul {
  list-style-type: none;
  overflow: hidden;
}

.header li {
  margin: 1rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
.product-list img {
  width: 15rem;
}

.product {
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > * {
  margin-top: 1rem;
  font-size: 1rem;
}
