*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 16px;
}

:root {
  --dark-blue: #28458e;
  --light-blue: #0096d6;
  --orange: #eb7b30;
  --green: #00984a;
  --red: #df002c;
  --white: #fff;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--light-blue);
  padding: 1rem 0;
  z-index: 100;
}

.header a {
  color: var(--white);
  font-size: 1.2rem;
  text-decoration: none;
}

.header a:hover {
  color: #ffffff99;
}

h1 {
  font-size: 2rem;
  color: var(--dark-blue);
}

h2,
h3 {
  font-size: 1.5rem;
  color: var(--light-blue);
}

.home a {
  text-decoration: none;
  color: inherit;
}

.home {
  align-content: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/main.jpeg");
  min-height: 93vh;
  color: var(--white);
  background-size: cover;
}

.container.home h1.title {
  color: var(--white);
  text-align: center;
}

.home p {
  margin-top: 2rem;
}

.home .shop-btn {
  margin-top: 2rem;
  background-color: var(--green);
  padding: 0.4rem;
  border-radius: 5px;
  color: var(--white);
  font-weight: 600;
}

.home .shop-btn:hover {
  background-color: var(--orange);
}

button,
.btn {
  padding: 0.4rem;
  min-width: 1rem;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 5px;
  font-weight: 600;
}

.detail .move {
  border-radius: 10rem;
  padding: 0;
  margin: 0.5rem;
  font-size: 1rem;
}

.detail:nth-child(2) {
  color: var(--orange);
  font-size: 2rem;
  font-weight: 600;
}

div.detail button.btn {
  color: --var(--white);
}

div.detail p {
  width: 70vw;
}

button:hover,
.btn:hover {
  cursor: pointer;
  background-color: var(--green);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.container > * {
  margin: 1.8rem 0;
}

.container img {
  max-height: 20rem;
}

.header a {
  margin-left: 1rem;
}

.header ul {
  list-style-type: none;
  overflow: hidden;
}

.header li {
  margin: 1rem;
}

.products h3 {
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.product-list img {
  width: 15rem;
}

.product {
  margin: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product p {
  color: var(--dark-blue);
  font-size: 1.2rem;
  font-weight: 600;
}

.product > * {
  margin-top: 1rem;
  font-size: 1rem;
}

.product a {
  text-decoration: none;
}

.product img:hover {
  transform: scale(1.15);
}

.product a:hover {
  color: var(--orange);
}

.detail p {
  color: var(--orange);
}

table {
  width: 50%;
}

table td,
table th {
  padding: 0.5rem;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: var(--light-blue);
  color: var(--white);
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--green);
  color: white;
}

.floating {
  position: fixed;
  right: 2rem;
  top: 6rem;
  color: var(--white);
  background-color: var(--green);
  padding: 16px;
  border-radius: 3rem;
}

.floating:hover {
  background-color: var(--dark-blue);
}

.floating svg {
  font-size: 3rem;
  color: var(--white);
}

.floating .number {
  position: fixed;
  color: var(--green);
  font-size: 0.8rem;
  min-width: 1rem;
  text-align: center;
  font-weight: 600;
  z-index: 100;
  background-color: var(--white);
  border-radius: 20px;
  padding: 1px;
}

.floating a {
  text-decoration: none;
}
